.Quiz {
    /* display: flex;
    justify-content: center;
    flex-grow: 1; */
    /* padding: 100px; */
    background: linear-gradient(90deg, #5041b2 0%, #7969e6 100%);
    height: 100%;
}

.Quiz h1 {
    color: #fff;
}

.Quiz-wrapper {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}
